$sizeS: 20px;
$sizeM: 35px;

.header__btn {
  width: $sizeS;
  height: $sizeS;
  line-height: $sizeS;
  font-size: $sizeS;
  cursor: pointer;
}

.header__btn:hover {
  .header__btn-icon {
    color: rgba(black, 0.6);
  }
}
.header__btn:active {
  .header__btn-icon {
    color: rgba(black, 0.2);
  }
}

@media screen and (min-width: 500px) {
  .header__btn {
    width: $sizeM;
    height: $sizeM;
    line-height: $sizeM;
    font-size: $sizeM;
  }
}
