$size: 35px;

.header__btn {
  width: $size;
  height: $size;
  line-height: $size;
  font-size: $size;
  cursor: pointer;
}

.header__btn:hover {
  .header__btn-icon {
    color: rgba(black, 0.6);
  }
}
.header__btn:active {
  .header__btn-icon {
    color: rgba(black, 0.2);
  }
}
