<!-- header -->
header.header
  .header__container.container
    .header__btn.header__btn-back
      .header__btn-icon.header__btn-back-icon.fa.fa-chevron-left
    .header__btn.header__btn-nav
      .header__btn-icon.header__btn-nav-icon.fa.fa-bars
    nav.header__nav
      ul.header__nav-container
        li
          a(href='#') Main
         li
           a(href='#') Top
         li
           a(href='#') Service
         li
           a(href='#') Contact
