.header__nav {
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 100%;
  right: 0;
  padding: 0 15px;
}

.header__nav-container {
  position: relative;
  right: -40%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  font-size: 30px;
  transition: right 0.5s;
  overflow: hidden;
}

.header__nav-container.show {
  right: 0;
}

.header__nav-container a {
  text-decoration: none;
  color: black;
}
