svg.hero__bg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 426 256')
  g.hero__bg-svg
    path.hero__bg-img(d='M305,0a129,129,0,0,1-19.5,29.5c-32.43,36.71-64.3,19-96,53-32.93,35.28-45.06,81.54-74,86a95.91,95.91,0,0,0-36.62,12,58.19,58.19,0,0,0-10.38,7c-25.32,22.36-19,51.88-44,65-.05,0-.53.29-1.16.7A18.52,18.52,0,0,0,20,256H0V91a35.26,35.26,0,0,1,14.24-8.82C21.4,80,26.1,81.12,36.66,77.71a46.3,46.3,0,0,0,6.78-2.78A59.6,59.6,0,0,0,56.5,65.5C62.87,59.37,76.09,35.27,87,0Z')
    path.hero__bg-img(d='M426,256V101c-3.5,3.51-9.68,24.28-23,39-19,21-29.56,9.85-56,29-29,21-27.64,54.23-42,65-28,21-35-2-57,12-13.6,8.66-22,10-39,10,8,0,71.17-.08,107,0Q371,256.14,426,256Z')
