.hero__btns
  .hero__btn.hero__btn-like.shadow
    .hero__btn-like-icon.fa.fa-heart
  .hero__btn.hero__btn-bookmark.shadow
    .hero__btn-icon.hero__btn-bookmark-icon.fa.fa-bookmark-o
  .hero__btn.hero__btn-read.shadow Read
