.hero__book-rating
  .hero__stars
   .hero__star-icon.fa.fa-star.gold
   .hero__star-icon.fa.fa-star.gold
   .hero__star-icon.fa.fa-star.gold
   .hero__star-icon.fa.fa-star.gold
   .hero__star-icon.fa.fa-star
  p.hero__number-reviews 300 reviews
